# Visual Studio
.vs/

# Build
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio (novo formato)
*.slnx

# Build (qualquer nível)
**/bin/
**/obj/